.Login {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: #152024;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.Login_centerDiv {
    text-align: center;
}

.Login_rightDiv {
    text-align: right;
}

.Login_background {
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(10);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Login_top {
    position: absolute;
    top: 0%;
    bottom: 70%;
    right: 0%;
    left: 0%;
}

.Login_logo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 90px;
    background: transparent;
}

.Login_bottom {
    position: absolute;
    top: 30%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

.Login_center {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.Login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

form .Login_textfield {
    position: relative;
    width: 100%;
    background: #e9f4fb;
    margin: 30px 0;
    border-radius: 100px;
    z-index: 999;
}

form .Login_textfield input {
    color: #000000;
    padding: 0 15px;
    height: 50px;
    width: 90%;
    font-size: 16px;
    background: transparent;
    border: none;
    border-radius: 100px;
    outline: none;
    margin-left: 10px;
    z-index: 999;
}

form .Login_textfield input::placeholder {
    color: #000000;
}

form .Login_textfield .Login_text_focusEffect {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 0px;
    width: 0%;
    height: 50px;
    border-radius: 100px;
    background: rgb(38, 145, 217);
    opacity: 0;
    transition: .5s;
}

form .Login_textfield input:focus~.Login_text_focusEffect {
    width: 100%;
    opacity: 0.4;
}

.Login_rememberme {
    color: #e9f4fb;
    margin-left: 30px;
}

.Login_rememberme label {
    display: block;
    cursor: pointer;
    padding-left: 10px;
}

.Login_signin {
    position: relative;
    margin-top: 60px;
    background: #dba154;
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.Login_signin:hover {
    transition-duration: 0.5s;
    transform: scale(1.1);
}

.Login_signin:after {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 10px white;
}

.Login_signin:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    opacity: 1;
    transition: 0s;
}

.Login_offscreen {
    position: absolute;
    left: -9999px;
}

.Login_errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}